layout {
    tab name="PX4" {
        pane split_direction="vertical" {
            pane name="PX4" {
                command "bash"
                args "-c" "cd PX4-Autopilot && make px4_sitl gz_x500 EXTERNAL_MODULES_LOCATION=../"
            }
            pane split_direction="horizontal" {
                pane name="QGC" {
                    command "bash"
                    args "-c" "sleep 5 && ./apps/QGroundControl.AppImage"
                }
                pane name="Terminal" focus=true {
                    command "bash"
                }
            }
        }
    }
}